@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins, sans-serif';
}
:root {
  --black: #000000;
  --yellow: #f3cf11;
  --darkyellow: #ffc20b;
  --darkred: #c40f0f;
  --darkblue: #496f8b;
  --grey: #988e8e;
  --white: #ffffff;
  --background: #fbf6f6;
  --after-content: '0';
}

html {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header {
  background: #ffffff;
  box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
  top: 0;
  z-index: 200;
  width: 100%;
  height: 155px;
  position: static;
  scroll-behavior: smooth;
}

.content-header {
  padding: 10px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav img {
  float: left;
  position: relative;
  width: 90px;
  top: 5px;
  margin-left: 60px;
}

/* search input styling */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  margin-top: 20px;
  left: 40px;
}

.search {
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
}

.search-content {
  display: flex;
  width: 100%;
}

.search-content select {
  text-align: center;
  text-align-last: center;
}

.search-content select option {
  text-align: left;
}
.inputsearch {
  float: left;
  position: relative;
  height: 40px;
  border: 1px solid #362e2e5e;
  width: 100%;
  padding: 0.85rem 1.5rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.inputsearch:focus {
  outline: none;
}

.inputsearch::placeholder {
  font-size: 14px;
  padding: 10px;
}
.inputsearchbtn {
  float: right;
  height: 40px;
  min-width: 100px;
  background: var(--darkyellow);
  border: none;
  color: white;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inputsearchbtn:hover {
  background-color: var(--darkred);
  transition: 0.5s ease;
}
.fa-search {
  display: none;
}

.search-text {
  cursor: pointer;
}

/*Account and Cart*/
.Header-content {
  float: right;
}

.Header-content ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 10px;
  left: 30px;
}

.Header-content ul li {
  display: inline;
  list-style: none;
  cursor: pointer;
  position: relative;
  right: 10px;
  top: 20px;
  font-weight: bold;
  margin: 0 13px;
}

.cart-show > * {
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.showCart::after {
  content: var(--after-content);
  background-color: var(--darkyellow);
  border-radius: 100%;
  padding: 1px 5px;
  color: white;
  position: relative;
  bottom: 10px;
  right: 18px;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}

.call-us-on {
  display: flex;
  line-height: 1;
  justify-content: space-between;
  margin: 0 10px;
}

.call-us-on i {
  font-size: 28px;
  position: relative;
  top: 7px;
  left: 8px;
  color: var(--darkyellow);
  font-weight: normal;
}

.call-us-details {
  line-height: 1.2;
  display: block;
  margin: 10px;
}

.call-us-details label {
  font-weight: normal;
  display: block;
  font-size: 14px;
  margin-left: 10px;
}

.call-us-details {
  position: relative;
  bottom: 10px;
}

.call-us-details span {
  display: block;
  font-size: 16px;
  margin-left: 10px;
}

/*sidebar nav*/
.sidebar {
  background-color: white;
  width: 100vw;
  max-width: 350px;
  height: 300vh;
  position: fixed;
  top: 0;
  z-index: 3000;
  left: -500px;
  transition: left 0.5s;
  display: none;
}

.sidebar a:focus {
  outline: none;
}

.sidebar ul {
  padding: 10px;
  position: relative;
}

.sidebar a {
  color: black;
}

.sideba a:hover {
  text-decoration: none;
}

.sidebar ul li {
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}

.sidebar ul li a :hover {
  outline: none;
  color: black;
}

.sidebar ul li a {
  text-decoration: none;
}

.bi-list {
  position: relative;
  margin: 5px;
  cursor: pointer;
  float: left;
  display: none;
}

#scrollbarIcon {
  display: none;
}

.sidebar .sidebar-title {
  background-color: var(--darkyellow);
  width: 100%;
  height: 45px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sidebar .sidebar-title h5 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom: 10px;
}

.sidebar .sidebar-content #cancelIcon {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.sidebarOverly {
  position: fixed;
  width: 100vw;
  height: 200vh;
  left: 0;
  top: 0;
  z-index: 2499;
  opacity: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
/* show cart-display*/
.CartOverly {
  position: fixed;
  width: 100vw;
  height: 200vh;
  left: 0;
  top: 0;
  z-index: 2499;
  opacity: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart-container {
  background-color: white;
  width: 100vw;
  max-width: 350px;
  height: 300vh;
  position: fixed;
  top: 0;
  z-index: 2499;
  right: 0;
  transition: right 0.5s;
  display: none;
  transform: none;
  opacity: 1;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.cart-heading h5 {
  font-weight: bold;
  font-size: 18px;
}

.cart-display {
  overflow: auto;
  width: 338px;
  height: 5%;
  position: relative;
  margin: 10px;
}

.show-cart-item {
  font-family: 'Poppins, sans-serif';
  padding: 16px;
}

.all-cart-item .row {
  padding: 10px;
}

.all-cart-item .row input:focus {
  outline: none;
}

.cart-heading a {
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

.cart-display .row img {
  width: 75px;
}

.cart-display .row i {
  cursor: pointer;
}

.cart-footer {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  width: 250px;
}

.cart-footer .checkout {
  background-color: var(--darkyellow);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  min-width: 120px;
  font-size: 15px;
}

.cart-footer .viewcart {
  background-color: var(--black);
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  min-width: 120px;
}

.cart-footer button {
  margin: 10px;
  padding: 10px;
}

.cart-footer button:hover {
  background-color: #0796f5e3;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.cart-details > div {
  margin: auto;
  position: relative;
  padding: 0 10px;
}

/*nav link section*/
.navbar {
  margin-top: 40px;
}

.navbar .navbar-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 1 auto;
}

.navbar .navbar-link ul li {
  list-style: none;
  color: #496f8b;
  font-size: 15px;
  font-weight: 600;
  padding: 1px 20px;
  position: relative;
  bottom: 13px;
}

.navbar .navbar-link ul li a {
  color: #496f8b;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 4px;
  cursor: pointer;
}

.navbar-link ul li a:hover {
  border-bottom: none;
  transition: 0.5s ease-in;
  color: var(--darkyellow);
}

.navbar-link ul li a .active {
  color: var(--darkyellow);
}

/* site-background-image */
.site-background img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  object-fit: cover;
}
.otherservice-image {
  width: 90%;
  margin: auto;
}
.otherservice-image-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
  cursor: pointer;
}
.otherservice-image-content img {
  width: 100%;
}
.images-item {
  display: none;
}
.images img:hover {
  width: 100%;
  padding: 2px;
  transition: all ease;
  opacity: 1;
}
/*other service*/
.otherservice {
  width: 90%;
  margin: auto;
}
.otherservice .otherService-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.otherService-content {
  position: relative;
  top: 10px;
}
.otherService-content > div {
  display: flex;
  margin: auto;
  border: 2px solid #eee;
  width: 100%;
  gap: 20px;
  padding: 10px 10px 5px 10px;
}
.otherservice i {
  font-size: 40px;
  padding: 0 10px;
  color: var(--darkyellow);
}
.otherService-content span {
  position: relative;
  bottom: 10px;
}
.otherService-content span h3 {
  text-transform: capitalize;
}

.otherservice h3 {
  font-weight: bold;
  font-size: 14px;
  color: #292929;
  font-family: Rubik, sans-serif;
  font-style: normal;
}

.otherservice p {
  position: relative;
  bottom: 10px;
}

/* men-Collection */
.men-Collection {
  width: 90%;
  margin: auto;
}
.men-Collection .All-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 10px;
}
.men-Collection .breadcrumb h4 {
  font-weight: bold;
}
.men-Collection .breadcrumb {
  font-weight: 600px;
}
.item {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
picture {
  width: 100%;
}
picture img {
  width: 100%;
}
.price strong {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 15px;
  font-size: 1.6rem;
  font-weight: 500;
}
.item .AddCartFunction {
  border: none;
  background-color: var(--darkyellow);
  padding: 15px;
  color: white;
  border-radius: 5px;
  margin: auto;
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
}
.item .productName {
  font-size: 15px;
  text-align: center;
  font-family: 'Poppins, sans-serif';
}
.men-Collection .Old-Price {
  text-decoration-line: line-through;
  color: #988e8e;
}
.men-Collection .productPrice {
  color: var(--darkred);
}
.men-Collection .AddCartFunction {
  background-color: var(--darkyellow);
  transition: 0.5s ease;
  text-transform: uppercase;
}
.men-Collection .AddCartFunction:hover {
  background-color: var(--darkred);
  transition: 0.5s ease;
}

.men-Collection .description {
  display: none;
}
/* Add cart modal */

.bigImage {
  width: 100%;
}
.smallImage {
  width: 40%;
  border: 1px solid darkorange;
  margin-top: 10px;
}
.description {
  color: #8b8686;
  margin-top: 10px;
  font-size: 16px;
}
.product-name h2 {
  font-weight: 500;
  font-size: 30px;
}
.product-review {
  margin-top: 20px;
}
.quantity {
  float: left;
}
.quantity {
  margin: 10px;
}
.quantity input {
  height: 40px;
  max-width: 50px;
  float: left;
  border: 1px solid #e9e7e7;
  background: none;
  box-shadow: none;
  outline: none;
}
.quantity button {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #e9e7e7;
  background: none;
  box-shadow: none;
}
.quantity .decreasement {
  float: left;
}
.quantity .increasement:hover {
  background-color: #eee;
}
.quantity .decreasement:hover {
  background-color: #eee;
}
.modal-footter .proceedCart {
  margin-top: 10px;
  padding: 7px;
  font-size: 17px;
  font-weight: 500;
  background-color: #ffc20b;
  border: none;
  color: white;
  border-radius: 5px;
}

.modal-footter .proceedCart:hover {
  background-color: var(--darkred);
  transition: 0.5s ease;
}
.productPrice h2 {
  color: darkred;
}
.social-icon {
  float: left;
  margin-top: 20px;
}
.social-icon i {
  margin: 5px 20px;
  margin-left: 0;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 100%;
  font-size: 18px;
  cursor: pointer;
}
.social-icon .fa-facebook:hover {
  background-color: darkblue;
  transition: all 0.5s ease;
  color: white;
}
.social-icon .fa-twitter:hover {
  background-color: rgb(22, 140, 236);
  transition: all 0.5s ease;
  color: white;
}
.social-icon .fa-youtube:hover {
  background-color: red;
  transition: all 0.5s ease;
  color: white;
}
.social-icon .fa-whatsapp:hover {
  background-color: darkcyan;
  transition: all 0.5s ease;
  color: white;
}
/* toast-alert */
.modalAlert {
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 20000;
  display: none;
  transition: visibility 0s lineaer 0.1s, opacity 0.3s ease;
}
.modalOpen {
  display: block;
  transition-delay: 0s;
}
.modelOverly {
  position: fixed;
  width: 100vw;
  height: 200vh;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  display: none;
}
.modelButton {
  margin-top: 30px;
  display: flex;
  padding: 0 20px;
  gap: 10px;
}
.modalAlert .viewCartButton {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
}
.modalAlert .CheckoutButton {
  background-color: var(--darkblue);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.modalAlert #modalCancel {
  cursor: pointer;
}
.call-action-header img {
  width: 100%;
  margin-top: 30px;
  object-fit: cover;
}

/*Top Seller*/
.Topsellers {
  width: 90%;
  margin: auto;
}
.TopSeller-content {
  margin-top: 40px;
  margin: auto;
}
.all-Seller-item .item .description {
  display: none;
}
.all-Seller-item .item {
  transition: 0.5s ease-in-out;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.Topsellers .breadcrumb h4 {
  font-weight: 700;
}

.all-Seller-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: auto;
}
.all-Seller-item .item .AddCartFunction {
  border: none;
  background-color: var(--darkyellow);
  padding: 15px;
  color: white;
  border-radius: 5px;
  margin: auto;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
}
.all-Seller-item .item .AddCartFunction:hover {
  background-color: var(--darkred);
  transition: 0.5s ease;
}
.all-Seller-item .item .productName {
  font-size: 15px;
  text-align: center;
  font-family: 'Poppins, sans-serif';
}
.all-Seller-item .Old-Price {
  text-decoration-line: line-through;
  color: #988e8e;
}
.all-Seller-item .productPrice {
  color: var(--darkred);
}

/* blog section */
.blog {
  width: 90%;
  margin: auto;
}
.blog .blog-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: auto;
  gap: 20px;
}
.blog .blog-content > div {
  border: 1px solid #eee;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.blog .blog-detail p {
  font-size: 14px;
  color: #7c7c7c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog .blog-detail {
  margin-top: 25px;
  padding: 10px;
}
.blog .breadcrumb h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.blog .blog-detail h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.blog .blog-detail .date {
  color: var(--darkred);
}
.blog-item img:hover {
  transition: 0.5s ease-out;
  cursor: pointer;
}

.footer-newletter {
  background-color: #eee;
  width: 100%;
  margin-top: 100px;
}
.footer-newletter .container {
  padding: 20px;
}
.input-wrapper-newsletter input {
  height: 50px;
  color: #666;
  padding: 0.85rem 1.5rem;
  outline: none;
  width: 80%;
  border: none;
  border-radius: 5px;
  float: left;
}
.input-wrapper-newsletter {
  padding: 5px;
}
.input-wrapper-newsletter button {
  background-color: var(--darkyellow);
  color: white;
  font-size: 16px;
  border: none;
  width: 20%;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  position: relative;
  left: 20px;
  max-width: 180px;
}

.input-wrapper-newsletter button:hover {
  background-color: var(--darkred);
  transition: 0.5s ease;
}

.contact-us {
  background-color: #7c7c7c;
}
.contactContainer {
  margin: auto;
  width: 100%;
  display: grid;
  gap: 30px;
}

.contact-form input {
  width: 100%;
  height: 40px;
  padding: 0.85rem 1.5rem;
  margin: 10px 0;
  background-color: white;
  border-color: white;
}
.contact-form input:focus {
  outline: 0;
}
.contact-form .InputMessage {
  height: 120px;
}
.contact-form button {
  background-color: var(--darkyellow);
  border: none;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: var(--darkred);
  transition: all 0.5s ease;
}
.contact-address {
  background-color: #eee;
  width: 100%;
}
.location-details > div {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 4px;
  margin: 10px;
}
.location h4 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--darkyellow);
}
.contact-address i {
  color: var(--darkyellow);
  font-weight: bold;
}
.bussiness-details {
  display: flex;
  gap: 30px;
  padding: 20px;
  color: #666;
}
.bussinessHour h4 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--darkyellow);
}

/*footer*/
.footer {
  background-color: #eee;
  width: 100%;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: 'Poppins, sans-serif';
}
.footer p {
  line-height: normal;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.footer-content .modeOfPayment p {
  font-size: 16px;
  font-weight: bold;
}
.footer-content .modeOfPayment i {
  font-size: 35px;
  color: var(--darkyellow);
  padding: 0px 0 10px 0;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }

  .header {
    max-height: 130px;
    width: 100%;
    margin: auto;
  }

  .Header-content {
    position: relative;
    bottom: 2px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 20px;
    left: 0;
  }

  .nav img {
    position: relative;
    width: 85px;
    margin-left: 0;
    bottom: 10px;
  }

  .nav {
    position: relative;
    bottom: 10px;
  }

  .navbar > div {
    display: none;
  }

  .inputsearchbtn {
    min-width: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .inputsearch {
    width: 90%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .search-text {
    display: none;
  }

  .fa-search {
    display: block;
    font-size: 20px;
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    margin-top: 39px;
  }

  .bi-list {
    display: block;
  }

  .navbar {
    display: none;
  }

  .headerListContent {
    position: relative;
    bottom: 10px;
    margin-right: 20px;
  }

  .call-us-on {
    display: none;
  }

  .content-header {
    position: relative;
    bottom: 5px;
  }

  .searchdetails {
    display: none;
  }

  .cart-show {
    position: relative;
    left: 20px;
  }

  .search {
    margin: 0;
  }
  .men-Collection .All-item {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 10px;
    margin-top: 10px;
    margin: auto;
    width: 90%;
    transition: transform 1s;
  }
  .otherservice .otherService-content {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
  }
  .TopSeller-content .all-Seller-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .otherservice .otherService-content {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
  }
  .otherservice-image-content {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .images img:hover {
    padding: 0%;
  }
  .all-Seller-item {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .blog .blog-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-popup {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-height: 130px;
    width: 100%;
    margin: auto;
  }

  .Header-content {
    position: relative;
    bottom: 2px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 20px;
    left: 0;
  }

  .nav img {
    position: relative;
    width: 85px;
  }

  .nav {
    position: relative;
    bottom: 10px;
  }

  .navbar > div {
    display: none;
  }

  .inputsearchbtn {
    min-width: 60px;
  }

  .inputsearch {
    width: 90%;
  }

  .search-text {
    display: none;
  }

  .fa-search {
    display: block;
    font-size: 20px;
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .bi-list {
    display: block;
  }

  .navbar {
    display: none;
  }

  .headerListContent {
    position: relative;
    bottom: 10px;
    margin-right: 20px;
  }

  .call-us-on {
    display: none;
  }

  .content-header {
    position: relative;
    bottom: 5px;
  }
  .cart-show {
    position: relative;
    left: 20px;
  }

  .search {
    margin: 0;
  }
  .cart-popup {
    width: 100%;
  }
  .pop-detail {
    grid-template-columns: repeat(1, 1fr);
  }
  .popUp-image img {
    width: 100%;
  }
  .men-Collection {
    width: 100%;
  }
  .men-Collection .breadcrumb {
    margin: 0 20px;
  }
  .men-Collection .All-item {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px 10px;
    margin-top: 10px;
    margin: auto;
    width: 90%;
  }
  .item .productName {
    text-align: center;
    font-size: 14pt;
  }
  .price strong {
    font-size: 14pt;
  }
  .Topsellers {
    width: 100%;
  }
  .Topsellers .breadcrumb {
    margin: 10px;
    margin-bottom: 30px;
  }
  .TopSeller-content .all-Seller-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .otherservice .otherService-content {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 90%;
  }
  .otherservice-image-content {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .images:hover {
    padding: 0%;
  }
  .all-Seller-item {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .modalAlert {
    width: 90%;
  }
  .modalAlert h4 {
    font-size: 16px;
  }

  .blog .blog-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .bussinessHour h4 {
    font-size: 16px;
  }
  .location h4 {
    font-size: 16px;
  }
  .footer-newletter span {
    text-align: center;
    padding-bottom: 40px;
  }
  .footer-newletter form {
    margin-top: 30px;
  }
  .contact-address {
    width: 100%;
  }
  .footer-content {
    margin: 20px;
  }
  .footer-content i {
    margin: 10px 0 10px 0;
  }
  .footer .copyright p {
    margin-top: 20px;
  }
}
@media (max-width: 860px) {
  .contactContainer {
    display: grid;
    grid-template-rows: 1fr;
    padding: 40px 20px 40px 20px;
  }
}
@media (min-width: 860px) {
  .contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-us {
    padding: 40px;
  }
}
@media (max-width: 530px) {
  .footer-newletter form {
    margin-top: 10px;
  }
  .input-wrapper-newsletter input {
    width: 100%;
  }
  .input-wrapper-newsletter button {
    position: relative;
    left: 26%;
    width: 40%;
    margin: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1115px) {
  .otherservice .otherService-content {
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 90%;
  }
}
