@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins sans-serif';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --black: #000000;
    --yellow: #F3CF11;
    --darkyellow: #FFC20B;
    --darkred: #C40F0F;
    --darkblue: #496F8B;
    --grey: #988E8E;
    --white: #FFFFFF;
    --background: #FBF6F6;
    --after-content: 0
}
html,body{
    background-color: #eee;
    width:100%;
    overflow-x: hidden;
}
header{
    background-color: white;
    box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);;
    width:100%;
    margin: 0;
    justify-content: space-between;
    display: flex;
    padding:15px;
    padding-left: 10px;
    position: fixed;
    padding-right: 10px;
    top:0;
    z-index: 1000;
}
header h4{
    font-size:18px;
    font-weight: 600;
    margin-left:20px;
}
header span{
    cursor: pointer;
}
header .showCart::after {
    content: var(--after-content);
    background-color: var(--darkyellow);
    border-radius: 100%;
    padding: 1px 5px;
    color: white;
    position: relative;
    bottom: 10px;
    right: 18px;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    font-size: 12px
}
/* show cart-display*/
.CartOverly{
    position: fixed;
    width: 100vw;
    height: 200vh;
    left: 0;
    top: 0;
    z-index: 2499;
    opacity: 1;
    display: none;
    background-color: rgba(0, 0, 0,0.50);
}
.showCart-container {
    background-color: white;
    width: 100vw;
    max-width: 350px;
    height: 300vh;
    position: fixed;
    top: 0;
    z-index: 2499;
    right: 0;
    transition: right 0.5s;
    display: none;
    transform: none;
    opacity: 1;
}
.cart-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
.cart-heading h5 {
    font-weight: bold;
    font-size: 18px;
}
.cart-display {
    overflow: auto;
    width: 338px;
    height: 5%;
    position: relative;
    margin: 10px;
}

.show-cart-item {
    font-family: 'Poppins, sans-serif';
    padding: 16px;
}

.all-cart-item .row {
    padding: 10px;
}

.all-cart-item .row input:focus {
    outline: none;
}

.cart-heading a {
    text-decoration: none;
    position: relative;
    font-size: 16px;
}

.cart-display .row img {
    width: 75px;

}

.cart-display .row i {
    cursor: pointer;
}
.cart-footer {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    width: 250px;
}

.cart-footer .checkout {
    background-color: var(--darkyellow);
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    min-width: 120px;
    font-size: 15px;

}

.cart-footer .viewcart {
    background-color: var(--black);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    min-width: 120px;
}

.cart-footer button {
    margin: 10px;
    padding: 10px;
}

.cart-footer button:hover {
    background-color: #0796f5e3;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.cart-details>div {
    margin: auto;
    position: relative;
    padding: 0 10px;
}
.cart-content{
    margin-top:100px;
}
.cart-content .breadcrumb{
    padding:15px;
    font-weight:600;
    text-transform: uppercase;
    background-color: #fafafa;
    border: 1px solid #e9e7e7;;
}
.cart-container{
    background-color: white;
    width:100%;
    height:100%;
}
.product-Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
cart-details>div {
margin: auto;
position: relative;
padding: 0 10px;
}
.cart-content{
margin-top:100px;
}
.cart-content .breadcrumb{
padding:15px;
font-weight:600;
text-transform: uppercase;
background-color: #fafafa;
border: 1px solid #e9e7e7;;
}
.cart-container{
border:1px solid #e9e7e7;
background-color:white;
padding:10px;
width:100%;
height:100%;
}
.all-item{
    padding:20px;
}
.product-Detail{
display: flex;
justify-content: space-around;
align-items: center;
margin-top:5px;
}
.cart-content img{
max-width:90px;
float: left;
position: relative;
bottom:25px
}
.cart-container .productNameAndPrice p {
font-size:16px;
}
.cart-container .productNameAndPrice strong{
font-size:18px;
color:var(--darkred)
}
.cart-content-footer .btn-primary{
background-color: black;
color:white;
}
.cart-content-footer .btn-primary:focus{
    background-color: #0796f5e3;
    border-color: #0796f5e3;
}
.cart-content-footer .btn-warning{
    color:white;
}
.cart-container .quantity input{
height:40px;
max-width:50px;
float: left;
border:1px solid #e9e7e7;
background: none;
box-shadow: none;
outline: none
}
.cart-container .quantity button{
height: 40px;
padding: 0 10px;
border:1px solid #e9e7e7;
background: none;
box-shadow: none;
}
.cart-container .quantity .decreasement{
float: left;
}
.cart-container .quantity .increasement:hover{
background-color: #eee;
}
.cart-container .quantity .decreasement:hover{
background-color: #eee;
}
.cart-container .totalPrice strong{
font-size:18px;
color: var(--darkred);
}
.cart-container .totalPrice{
    font-size:18px;
    color: var(--darkred);
    font-weight: bold;
    }
.deleteIcon i {
cursor: pointer;
}
.cart-summary{
background-color: white;
}
.cart-summary .cart-summary-content{
padding:0px;
}
.cart-summary-content .cart-details{
padding:0 10px;
}
.cart-summary-content .cart-details span{
display: flex;
justify-content: space-between;
}
.cart-summary-content .cart-details strong{
font-size: 16px;
}
.cart-summary .btn-primary{
background-color: var(--darkyellow);
border:none;
width:94%;
margin:10px;
font-size:16px;
font-weight: 600;
}
.cart-summary .btn-primary:focus{
outline: none;
background-color: var(--darkyellow);
}
.cart-content-footer{
display: flex;
justify-content: space-between;
margin-top:15px;
}
.cart-content-footer button{
padding:10px;
text-transform: uppercase;
margin: 0 10px 40px 0;;
}
.cart-content-footer .btn-warning{
background-color: #C40F0F;
border-color: #C40F0F;
}
.cart-content-footer .btn-warning:focus{
background-color:#C40F0F;
outline:none;
}
.cart-content-footer .btn-primary:focus{
background-color: #496F8B;
outline:none;
}
.cart-content-footer button:focus{
outline:none;
};

@media (max-width:360px) {
}
@media (max-width:600px){
     .product-Detail{
        display: block;
     }
     .cart-content img{
        float: none;
        position: relative;
        bottom: 0;
        max-width: 100%;
        display: block;
        margin: auto;
     }

     .product-Detail{
        text-align: center;
        line-height: 2.3;
     }
     .quantity{
        display: flex;
        justify-content: center;
     }
}